<%= link_to "Submit a new movie!", new_movie_path %>
<%= form_tag("/movies", method: "get") do %>
  <%= label_tag(:search, "Search") %>
  <%= text_field_tag(:search) %>

  <%= label_tag(:runtime_in_minutes, "Runtime") %>
  <%= select_tag(:runtime_in_minutes, options_for_select([['Under 90 minutes', 1],['90-120 minutes', 2],['Over 120 minutes', 3]], 3)) %>

  <%= submit_tag("Search") %>
<% end %>


<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster.small), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%=  movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <h4> <%= movie.review_average %>/10 </h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>



